h1,
h2,
h3,
p,
ol,
ul,
body {
    margin: 0;
}
body{
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}
.item__name{
    margin-bottom: 10px;
    font-size: 18px;
}
.item__content{
    margin-bottom: 10px;
    font-size: 14px;
    flex-grow: 1;
}
.item__footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
.heading{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    background-color: azure;
    padding: 10px;
    margin-bottom: 20px;
}


/* items2 */

.items2{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}
.item2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.item2__name{
    margin-bottom: 10px;
    font-size: 18px;
}
.item2__content{
    margin-bottom: 10px;
    font-size: 14px;
}
.item2__footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
.item2__bg{
    height: 150px;
    background-color: black;
}
.item2__body{
    padding: 10px;
}
