h1,
h2,
h3,
p,
ol,
ul,
body {
margin: 0;
}

ol,ul{
    list-style: none;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.heading{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    background-color: azure;
    padding: 10px;
    margin-bottom: 20px;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
