h1,
h2,
h3,
p,
ol,
ul,
body {
    margin: 0;
}
body{
    font-family: sans-serif;
}
html{
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.heading{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    background-color: azure;
    padding: 10px;
    margin-bottom: 20px;
}


.block{
    display: flex;
    gap: 10px;
}
.col-1 {
    background-color: #e6e6e6;
    border: 1px solid red;
    padding: 4px;
}
.col-2 {
    background-color: #d5d5d5;
    padding: 4px;
}
